<div class="container">
  <div class="row">
    <div class="col col-md"></div>
    <div class="col-10 col-md-8">
      <h2>Añadir Nuevo Proveedor</h2>
      <form (ngSubmit)="onSubmit()" [formGroup]="proveedorForm">
        <div class="form-grup">
            <label>Nombre</label>
            <input type="text"
                  class="form-control"
                  id="nombre"
                  formControlName="nombre">
          </div>
          <div class="form-group">
            <label>C.I.F.</label>
            <input type="text"
                  class="form-control"
                  id="cif"
                  formControlName="cif">
          </div>
          <div class="form-group">
            <label>Dirección</label>
            <input type="text"
                  class="form-control"
                  id="direccion"
                  formControlName="direccion">
          </div>
          <div class="form-group">
            <label>Código Postal</label>
            <input type="text"
                  class="form-control"
                  id="cp"
                  formControlName="cp">
          </div>
          <div class="form-group">
            <label>Localidad</label>
            <input type="text"
                  class="form-control"
                  id="localidad"
                  formControlName="localidad">
          </div>
          <div class="form-group">
            <label>Estado de la república</label>
            <select class="form-control"
                    id="provincia"
                    formControlName="provincia">
            <option value="">Seleccione el estado de la república</option>
            <option *ngFor="let provincia of provincias" [value]="provincia">
              {{ provincia }}
            </option>
            </select>
          </div>
          <div class="form-group">
            <label>Teléfono</label>
            <input type="number"
                  class="form-control"
                  id="telefono"
                  formControlName="telefono">
          </div>
          <div class="form-group">
            <label>Correo Electrónico</label>
            <input type="text"
                  class="form-control"
                  id="email"
                  formControlName="email">
          </div>
          <div class="form-group">
            <label>Persona de contacto</label>
            <input type="text"
                  class="form-control"
                  id="contacto"
                  formControlName="contacto">

          </div>
          <button type="submit"
                  class="btn btn-primary"
                  [disabled]="!proveedorForm.valid">
                    Añadir Proveedor
          </button>
          <a class="btn btn-primary float-md-right" routerLink="/proveedores">
            Regresar al listado
          </a>
          <p class="alert alert-danger"
          *ngIf="!proveedorForm.valid">Por favor complete todos los campos obligatorios</p>
      </form>
    </div>
    <div class="col col-md"></div>
  </div>
</div>
