    <section id="lab_video_slider">
      <div class="container-fluid">
        <div class="row">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div id="slide_two" class="swiper-slide">
                <div id="lab_video_text_overlay">
                  <div class="container">
                      <div class="jumbotron">
                          <h1 class="display-4">Productos Químicos el Rey</h1>
                          <p class="lead">Tu proveedor de productos químicos ...</p>
                            <a class="btn btn-primary btn-lg" role="button" routerLink="/nosotros">Acerca de Nosotros</a>
                        </div>
                  </div>
                </div>
                <video class="slider-video" width="100%" preload="auto" loop="" autoplay="" style="visibility: visible; width: 100%;" poster="">
                  <source src="https://dl.dropboxusercontent.com/s/931244iox7i0fpk/working-with-espresso.mp4" type="video/mp4">
                </video>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
