<div class="container">
    <div class="teacher-name" style="padding-top:20px;">

      <div class="row" style="margin-top:0px;">
        <div class="col-md-9">
          <h2 style="font-size:38px"><strong>Xavier Salazar</strong></h2>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top:20px;">
      <div class="col-md-3"> <!-- Image -->
        <a href="#"> <img class="rounded-circle" src="../../../assets/Xavier_Serbiá.png" alt="Xavier" style="width:200px;height:200px"></a>
      </div>

      <div class="col-md-6"> <!-- Rank & Qualifications -->
        <h5 style="color:#3AAA64">Fundador de Productos Químicos el Rey, <small>Productos Químicos El Rey, S.A. de C.V. tiene aproximadamente 40 años de dedicarse a producir únicamente XASAAM (Cloruro Férrico)</small></h5>
        <p> Teniendo la capacidad de producción de 1000 ton/mes</p>
        <p>Situada al nor-poniente de Monterrey en el km. # 27.5 del arco vial en un área industrial de 30,000 m2.</p>
      </div>

      <div class="col-md-3 text-center"> <!-- Phone & Social -->
        <span class="number" style="font-size:18px">Phone:<strong>+8801732226402</strong></span>
        <div class="button" style="padding-top:18px">
          <a href="mailto:ahmkctg@yahoo.com" class="btn btn-outline-success btn-block">Send Email</a>
        </div>
        <div class="social-icons" style="padding-top:18px">
          <a href="#">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x" style="color:#3AAA64"></i>
            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
          </span></a>
          <a href="#">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x" style="color:#3AAA64"></i>
            <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
          </span></a>
          <a href="#">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x" style="color:#3AAA64"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </span></a>
          <a href="#">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x" style="color:#3AAA64"></i>
            <i class="fa fa-slideshare fa-stack-1x fa-inverse"></i>
          </span></a>

        </div>
      </div>
    </div>
  </div>

  <div class="container">
      <div class="row">
          <div class="col-md-12">
            <div class="card card-block text-xs-justify">
              <h2 class="card-title" style="color:#009688"><i class="fa fa-user fa-fw"></i>Biografía</h2>
              <div style="height: 15px"></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium ullam delectus aliquid ipsa possimus, deleniti necessitatibus beatae labore placeat perspiciatis velit impedit magni nam! Sit ducimus quidem quia mollitia nesciunt.</p>
            </div>
            <br>
          </div>
        </div>
  </div>
