<br>
<div class="cargando" *ngIf="cargando">
  <img src="../../../../assets/spinner.gif" alt="cargando">
</div>
<div *ngIf="!cargando">
  <div class="container">
      <h3>Listado de Facturas</h3>
      <a class="btn btn-primary float-md-right" routerLink="/addfra">Añadir nueva factura</a>
  <a class="btn btn-danger float-md-right" style="margin-right:5px" routerLink="/inicio">Cancelar</a>
  <table class="table table-bordered table-striped tabla" style="margin-top: 40px;">
    <thead>
      <tr class="filters">
        <th>Proveedor</th>
        <th>Fecha</th>
        <th>Concepto</th>
        <th>Base Imponible</th>
        <th>Importe IVA</th>
        <th>Total</th>
        <th>Editar</th>
      </tr>
    </thead>
    <tbody>
      <tr class="resultados" *ngFor="let factura of facturas">
        <td>{{ factura.proveedor }}</td>
        <td>{{ factura.fecha | date:'dd-MM-yyyy' }}</td>
        <td>{{ factura.concepto }}</td>
        <td>{{ factura.base | number:'1.2-2' }}</td>
        <td>{{ factura.iva | number:'1.2-2'}}</td>
        <td>{{ factura.total | number:'1.2-2'}}</td>
        <td>
          <button type="button" class="btn btn-success"
                  routerLink="/editfra/{{ factura.id$ }}">Editar</button>
              <button class="btn btn-danger" (click)="eliminarFactura(factura.id$)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>

